*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 18px;
    font-family: sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
}


.nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 1% auto;
}
.nav-menu{
    display: flex;  
    width: 150%;
    justify-content: space-between;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: black;

}

.gds-section{
    display: flex;
    padding-left: 10%;
    height: 900px;
    background-color: hsl(0, 0%, 98%);
    margin-bottom: -80px;

}
.gds-secleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    text-align: left;
}
.gds-secleft h1{
    font-size: 2em;
    font-weight: 200;
}
.gds-secleft p{
    font-size: 15px;
    padding: 20px 0px 20px;
}
.gdssecUn-btn{
    padding: 15px 30px;
    background:linear-gradient(to right in srgb, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 35px;
    border: none;
    color: white;
}
.gds-secright{
    width: 65%;
    padding-left: 15%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("images/bg-intro-desktop.svg");
}
/* .gds-section img{
    margin-bottom: -100px;

} */



.middle-section{
    padding: 5% 10%;
    background-color: hsl(220, 16%, 96%);
}
.heading p{
    padding-bottom: 30px;
    color: hsl(233, 8%, 62%);
    line-height: 1.5;
}
.easy{
    color: hsl(233, 26%, 24%);
    font-family: 200;
    padding-bottom: 20px;
}

.pic{
    display: flex;
    justify-content: space-between;
    /* width: 95%;   */
    color: hsl(233, 8%, 62%);
}

.icon{
    padding-bottom: 20px;
}

.title{
    padding-bottom: 20px;
    color: hsl(233, 26%, 24%);
    font-weight: 200;
}



.bottom-section{
    width: 100vw;
    padding: 5% 10%;
    margin: auto;
    background-color: hsl(0, 0%, 98%);
}
.bottom-section h1{
    text-transform: capitalize;
    margin-bottom: 5%;
    font-size: 2em;
    font-weight: 200;
}
.bottom-section .articles{
    width: 100%;
}
.bottom-articles{
    width: 23%;
    margin-right: 2%;
}

.bottom-section .articles img{
    width: 100%;
    height: 200px;
}
.bottom-text{
    height: 220px;
    background-color: white;
    padding: 10%;
    margin-top: -2%;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom-text .name{
    text-transform: capitalize;
    font-size: .7em;
    color: hsl(233, 8%, 62%);
}
.bottom-text .p{
    color: hsl(233, 8%, 62%);
    font-size: .85em;
}
.bottom-text h3{
    color: hsl(233, 26%, 24%);
    font-weight: 200;
    font-size: 1.1em;
}

footer{
    background-color: hsl(233, 26%, 24%);
    height: 200px;
    padding: 5% 10%;
    color: white;
    text-transform: capitalize;
}
footer .medium-div-left{
    width: 60%;
    justify-content: space-between;
}
footer .logo{
    margin-bottom: 20%;
}

ul li{
    list-style: none;
    margin-bottom: 10%;
}

.medium-div-right{
    justify-content: right;
    color: hsl(233, 8%, 62%);
    font-size: .8em;
    width: 40%;

}
.medium-div-right .small-div{
    margin-left: 40%;
    width: 50%;
    text-align: right;
}
.medium-div-right button{
    color: white;
    padding: 5% 12%;
    margin-bottom: 10%;
    border: none;
    border-radius: 35px;
    background:linear-gradient(to right in srgb, hsl(136, 65%, 51%), hsl(192, 70%, 51%))
}
